@Html.ValidationSummary()

@{
    ViewBag.Title = "Index";
}

@model IList<TP02.Models.BL>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bill of Ladding</title>
</head>
<body>
    <h1>Lista de BL</h1>

    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>Id: </th>
                    <th>BL: </th>
                    <th>Consignee: </th>
                    <th>Navio: </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var BL in Model)
                {
                    <tr>
                        <td>@BL.Id</td>
                        <td>@BL.Numero</td>
                        <td>@BL.Consignee</td>
                        <td>@BL.Navio</td>
                        <td>
                            @Html.ActionLink("Detalhes", "Detalhes", new { id = BL.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</body>
</html>
