@model IList<TP02.Models.Container>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Containeres</title>
</head>
<body>
    <h1>Lista de Containeres</h1>

    <table>
        <thead>
            <tr>
                <th>Id: </th>
                <th>Numero: </th>
                <th>Tipo: </th>
                <th>Tamanho: </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Container in Model)
            {
                <tr>
                    <td>@Container.Id</td>
                    <td>@Container.Numero</td>
                    <td>@Container.Tipo</td>
                    <td>@Container.Tamanho</td>
                    <td>
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = Container.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

